.background-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100%;
    background-image: url(../bgimageLarge.jpeg);
}

.logos{
    width: 100px;

}
