@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}


.background-image {
    width: 560px; 
	height: 100px; 
	background-image: url(../collage.jpg);
	background-position: 0px 0px;
	background-repeat: repeat-x;

	animation: animatedBackground 50s linear infinite;
}
.col{
	margin:0% ;
}